@model IEnumerable<Practic.Models.Partner>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@* <table class="table"> *@
@*     <thead>  *@
@*     <tr>  *@
@*     <th>       *@
@*                 @Html.DisplayNameFor(model => model.Type)       *@
@*             </th>       *@
@*             <th>       *@
@*                 @Html.DisplayNameFor(model => model.Title)       *@
@*             </th>       *@
@*             <th>       *@
@*                 @Html.DisplayNameFor(model => model.Director)       *@
@*             </th>       *@
@*             <th>       *@
@*                 @Html.DisplayNameFor(model => model.Email)       *@
@*             </th>       *@
@*             <th>       *@
@*                 @Html.DisplayNameFor(model => model.Phone)       *@
@*             </th>       *@
@*             <th>       *@
@*                 @Html.DisplayNameFor(model => model.Address)       *@
@*             </th>       *@
@*             <th>       *@
@*                 @Html.DisplayNameFor(model => model.Inn)       *@
@*             </th>       *@
@*             <th>       *@
@*                 @Html.DisplayNameFor(model => model.Rating)       *@
@*             </th>       *@
@*             <th>       *@
@*                 @Html.DisplayNameFor(model => model.Logo)       *@
@*             </th>       *@
@*             <th></th>       *@
@*          </tr>       *@
@*      </thead> *@
@*     <tbody> *@
@foreach (var item in Model) {
    var quantity = item.PartnersProducts.Sum(p => p.Quantity);
    int sale;
    if (quantity < 10000)
        sale = 0;
    else if (quantity < 50000)
        sale = 5;
    else if (quantity < 300000)
        sale = 10;
    else
        sale = 15;
    <div class="d-flex border-5 border border-dark flex-column m-3 p-3" style="background-color: #F4E8D3">
                <div class="d-flex flex-row justify-content-between">
                @Html.DisplayFor(modelItem => item.TypeNavigation.Title) | @Html.DisplayFor(modelItem => item.Title) <p class="badge rounded-3 rounded" style="background-color: #67BA80">@sale%</p>
                </div>
                    <p>@Html.DisplayFor(modelItem => item.Director)</p>
                    <p>+7  @Html.DisplayFor(modelItem => item.Phone)</p>
                    <p>Рейтинг: @Html.DisplayFor(modelItem => item.Rating)</p>
            </div>
            @* <td> *@
            @*     <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
            @*     <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
            @*     <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            @* </td> *@
}
@*     </tbody> *@
@* </table> *@
